<h1>All Bookmarks</h1>
<% if can? :create, Bookmark %>
  <%= link_to "New Bookmark", new_bookmark_path, class: 'btn btn-primary btn-mini' %>
<% end %>

<a class='btn btn-primary btn-mini' data-toggle="modal" href="#myModal">How to Email Bookmarks</a>

<div id="tag_cloud", style="float: right;">
  <% tag_cloud Bookmark.tag_counts, %w[s m l] do |tag, css_class| %>
    <%= link_to "##{tag.name}", tag_path(tag.name), class: css_class %>
  <% end %>
</div>

<% @bookmarks.each do |bookmark| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">

         <!-- might need to add some fancy parsing here --> 
        <%# link_to bookmark.burl, "http://#{bookmark.burl}" %>
        <%= embedly_url(bookmark.burl) %>
      </h4>
      <small>
        Tags: <%= raw bookmark.tag_list.map { |t| link_to "##{t}", tag_path(t) }.join(', ') %>
      </small>
      <!-- need to repair so that current user cannot like their own bookmarks --> 
          <%= render partial: 'likes/like', locals: { bookmark: bookmark } %>
    </div>
  </div>
<% end %>
<%= will_paginate @bookmarks %>